.wave-container svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.wave-container {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 0;
    width: 100%;
    padding-bottom: 100px;
    vertical-align: middle;
    overflow: hidden;
}



.avatar {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;

}