.header-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    top: -0;
    right: 0;
    background-color: white;
    border: 1px rgb(238, 238, 238) solid;
    height: 50px;
    overflow: hidden;
    z-index: 6;


}

.header-tab-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
    align-items: flex-start;

}


/* Large desktops and laptops */
@media (min-width: 1200px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {}

/* Portrait phones and smaller */
@media (max-width: 480px) {

    .header-nav-container {
        visibility: hidden;
    }
}