.progresss-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: 300ms ease-out;
    border: green 2px solid;
    

}

.home-wrapper {
    display: flex;
    background-color: transparent;
    border: 5px yellow solid;
}


/* Portrait phones and smaller */
@media (max-width: 480px) {
    .progresss-div {
        
    }
}