.progresss-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: 300ms ease-out;
    
    


}

.home-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
}


/* Portrait phones and smaller */
@media (max-width: 480px) {
    .progresss-div {
        margin-top: 60px;
    }
}