

.progress-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    flex: 1;
    border: red 5px solid;


}


/* Portrait phones and smaller */
@media (max-width: 480px) {
    .Progress {
        padding-top: 0;
        margin-right: 0;
    }
}