.categories-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    justify-self: center;
    align-self: center;
    overflow: hidden;
    
}