.icon-card-img{
    width: 68px;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.icon-card-title{
    font-family: 'Vazir';
    font-weight: 300;
    padding-top: 16px;
}


.icon-card-number{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    align-self: flex-end;
    font-family: 'Righteous', cursive;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

    .icon-card-number{
        padding-top: 16px;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    



}