.sidebar-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px gray solid;
    margin-right: 160px;
    height: 800px;
    width: 328px;
    margin-top: 34px;
}


.sidebar-avatar-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
    background-color: #ffffff;
    height: 20%;
}