.main-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 42px;
    background-color: white;
    position: fixed;

    border-top: 1px rgb(209, 227, 233) solid;
    z-index: 100;
    align-items: center;
    justify-content: center;
    justify-self: center;

}
.Mui-selected svg{
    color:#b71c1c;
}
.Mui-selected {
    color:#b71c1c;
}

.footer-item {
    font-size: 60px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .main-footer {

        visibility: hidden;



    }

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .main-footer {

        visibility: hidden;



    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .main-footer {

        visibility: hidden;



    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .main-footer {

        visibility: hidden;



    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .main-footer {
        visibility: visible;
        bottom: 0;


    }



}