.categories {
    display: flex;
    flex-direction: row;
    width: 99%;
    height: fit-content;
    flex-wrap: wrap;
    align-self: center;
    margin-top: 80px;
    align-self: center;
    justify-content: center;
}
