.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    margin-top: 48px;
    align-self: center;
    justify-content: center;
    max-width: 800px;
    align-items: center;
    padding-bottom: 64px;
}
