.compare-page-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 90vh;
}


.compare-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-window-dragging: none;
    
    
}


.compare-img-container img{
    background: fixed;
    background-repeat: no-repeat;
   
}