body {
  margin: 0;
  font-family: 'Vazir';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Vazir';

}



@font-face {
  font-family: 'Vazir';
  font-display: auto;
  src: local('Vazir'), local('Vazir'), url(./assets/fonts/Vazir.woff2) format('woff2'),
    url(./assets/fonts/Vazir.woff) format('woff'),
    url(./assets/fonts/Vazir.ttf) format('ttf'),
}