body {
  margin: 0;
  font-family: 'Vazir';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Vazir';

}

@font-face {
  font-family: 'Vazir';
  font-style: normal;
  font-weight: 400;
  src:
    local('Vazir'),
    url('%PUBLIC_URL%/fonts/Vazir.ttf') format('ttf'),
}