.number-static {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 8px;
    
    width: 220px;
    height: 252px;
    background-color: transparent;
    box-shadow: 5px 5px 10px 10px aliceblue;
    box-sizing: content-box;
    border-radius: 5px;
    margin-left: 16px;
    z-index: 2;
    padding: 16px;
    border: red 5px solid;
    
    
}

.number-static-text {
    direction: rtl;
    display: flex;
    position: absolute;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    padding-bottom: 24px;


}

.answered {
    font-size: 52px;
    font-weight: 600;
    align-self: flex-end;


}

.not-answered {
    font-size: x-large;
    align-self: flex-end;

}


.static-title {
    position: relative;
    text-align: center;
    font-family: 'B Homa';
    font-size: large;
    padding-top: 16px;
    display: inline;
    color: purple;
}







/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .number-static {
        width: 100px;
        height: 140px;
        border: darkblue 5px solid;

    }
    .static-title{
        
    }

    .answered {
        
    }
    .not-answered {
        
    
    }

    
}