.number-static {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: flex-start;
    align-items: center;
    height: 220px;
    border: 1px antiquewhite solid;
    box-shadow: 1px 1px 2px 2px aliceblue;
    background-color: #fafafa;
    padding-top: 40px;
    margin-right: 20px;
    border-radius: 10px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.progress-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    margin-top: -20px;

}

.static-number {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    font-family: 'Righteous', cursive;






}

.static-total {

    align-self: flex-end;
}

.static-current {
    font-size: xx-large;
    font-weight: 600;
    align-self: flex-end;


}



.static-title {
    display: block;
    position: relative;
    text-align: center;
    font-size: small;
    width: 100%;
    font-family: 'VazirFD';
    font-weight: bold;
    padding-top: 6px;
}




/* Large desktops and laptops */
@media (min-width: 1200px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .number-static {
        width: 142px;
        justify-content: flex-start;
        align-items: center;
        height: 154px;
        margin: 8px;






    }



}