.tab-contianer {
    display: flex;
    flex-direction: row;
    grid: 1;
    width: fit-content;
    min-width: 380px;


    height: 42px;
    background-color: white;
    position: -webkit-sticky;
    top: 0;
    border-bottom: 1px rgb(209, 227, 233) solid;
    z-index: 100;
    justify-content: center;

}